body {
    background-color: rgb(215, 239, 247);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
    font-size: 60px;
}

.nav {
    margin: 0 auto;
    text-align: center;
}

.navbar a {
    /* float: left; */
    /* background-color: rgba(43, 22, 231, 0.828); */
    /* display: block; */
    color: #409bea;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
}

#content {
    position: fixed;
    top: 80px;
    bottom: 80px;
    left: 0;
    right: 0;
}